version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    image: connect4-backend
    ports:
      - "8000:8000"
    environment:
      # Allow requests from the Streamlit default ports for local development
      CORS_ALLOWED_ORIGINS: "http://localhost:8501,http://127.0.0.1:8501"
      # MLFLOW_RUN_ID: "best_run_id_here"
      PYTHONUNBUFFERED: 1
    volumes:
      # Mount the mlruns directory to allow the backend to access it
      - ./mlruns:/app/mlruns
    networks:
      - connect4-net

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    image: connect4-frontend
    ports:
      - "8501:8501"
    environment:
      # The frontend can reach the backend using its service name 'backend'.
      - BACKEND_URL=http://backend:8000/api
    depends_on:
      - backend
    networks:
      - connect4-net

networks:
  connect4-net:
    driver: bridge

